body, html
{
    background-color: black;
    color: white;
}

/* Preventing scrolling */
html, body {margin: 0; height: 100%; overflow: hidden}


/* ******************************** Popup ************************************ */
.popup
{
    margin          : 10px          ;
    border-radius   : 20px          ;
    background-color: grey        ;
    display         : none          ;
    position        : fixed         ;
    z-index         : 5             ;
    width           : 40%           ;
    height          : 40%           ;
    left            : 25%           ;
    top             : 25%           ;
}

table, td, tr
{
    /* position    : relative; */
    /*width       : 80%;*/
    /* height      : 80%; */
    text-align  : center;
}

table
{
    width: 100%;
    height: 70%;
}

#html_leveldata_textarea
{
    width: 100%;
    height: 100%;
}

#button_load_level_popup, #button_close_saveload_popup
{
    width: 100%;
    height: 100%;
    font-size: 20px;
}

/* **************************** Popup Cancel Button ************************** */
#button_saveload_popup
{
    position: relative;
    bottom: -20px;
    width: 50%;
}

/* **************************** Useful animations **************************** */

.tooltip 
{
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext 
{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  top: -20px;
  left: -100px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.button
{
    background-color: dodgerblue;
    color           : white;
    border-radius   : 5px;
}
.button:hover
{
    filter: brightness(150%);
    cursor: pointer;
}

.gray-area
{
    background-color: rgba(58, 57, 57, 0.5);
    border-radius: 5px;
}

.tab
{
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.tab:hover
{
    filter: brightness(120%);
}
.tab-selected
{
    background-color: white;
    color: black;
    border-radius: 5px;
}

@keyframes green_to_red 
{
    0%      { background-color: red     };
    100%    { background-color: green   };
}

@keyframes green_to_red 
{
    0%      { background-color: red     };
    100%    { background-color: transparent   };
}

.error-select
{
    animation-name: green_to_red;
    animation-duration: 1s;
}

.error-select2
{
    animation-name: green_to_red;
    animation-duration: 1s;
}

@keyframes orangered_to_black 
{
    0%      { background-color: orangered  };
    100%    { background-color: black      };
}

.enter-select
{
    animation-name: orangered_to_black;
    animation-duration: 2s;
}

.inputting
{
    background      : orangered;
}

.noselect 
{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.redborder
{
    border: 2px solid red;
    border-radius: 5px;
}

.selected-layer
{
    color: black;
    background-color:white;
}

.text-left
{
    text-align: left;
}

/* *************************** Column 1 Elements *************************** */


/* *************************** Column 2 Elements *************************** */
.col-mode 
{
    font-size: 30px;
}

.col-entities
{
    margin-right: 5px;
    font-size: 30px;
}
.col-displayoptions
{
    font-size: 20px;
}
.col-other
{
    font-size: 20px;
}
.row 
{
    margin : 5px             ;
    /*border : 2px dotted red;*/
    display: flex            ;
}

.column 
{
    /*border        : 2px dotted yellow;*/
    border-radius   : 5px               ;
    margin          : 5px               ;
    width           : 100%              ;
    font-size       : 20px              ;
}



/* *************************** Tileset Items *************************** */
img
{
    border: 2px solid black;
}
img .selected
{
    border : 2px solid red;
    z-index: 2;
}

.wrapper 
{
    position: relative;
    width   : 1204px  ;
    height  : 804px   ;
}
.wrapper canvas 
{
    position: absolute;
    top     : 0       ;
    left    : 0       ;
}

/* *************************** Level Settings *************************** */
#div_level_settings
{
    align-content: flex-start;
}

button
{
    background-color: dodgerblue;
    color           : white;
}

/* *************************** Layer Elements *************************** */
input
{
    background      : transparent;
    border          : 2px solid gray;
    border-radius   : 5px;
    color           : inherit; /* text color is expected to change so it is inherited */
    width           : 75%;
}
input:hover
{
    filter: brightness(120%);
}
.layer-element
{
    text-align      : center;
}
i
{
    cursor: pointer;
}
/* *************************** Column 2 ********************************** */
#col2
{
    text-align: center;
}

#ui_canvas      { z-index: 2        ; }
#game_canvas    { z-index: 1        ; }

#div_layers_scrollarea
{
    background-color: rgba(27, 27, 27, 0.5);
}

#div_author
{
    font-size: 30px;
}

/* cursors: https://www.w3schools.com/cssref/playit.asp?filename=playcss_cursor&preval=alias */
#div_edit_mode
{
    width: 100%;
    margin: 5px;
    text-align: center;
}

#div_object_info
{
    float:  left;
    margin: 5px;
}

#div_layer_parent
{
    float: left;
    margin: 5px;
}

img:hover
{
    border-color: crimson;
    cursor: pointer;
    z-index: 2;
}